<div style="text-align:center">
<a href="/">Home</a>&nbsp;|&nbsp<a href="/register">Register</a>&nbsp;|&nbsp<a href="/login">Login</a>
<% if (user) { %>
<span>
  |&nbsp<a href="/logout"">Log Out</a>
  </span>
<% } %>
